<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snacks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <form method="POST">
        <div class="form-row">
            <div class="form-group col">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" id="name" name="name">
            </div>
            <div class="form-group col">
                <label>Price</label>
                <input type="number" class="form-control" placeholder="Price" id="price" name="price">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Ingredients</label>
                <textarea class="form-control" rows="3" placeholder="Ingredients" id="ingredients" name="ingredients"></textarea>
            </div>
            <div class="form-group col">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Description" id="description" name="description"></textarea>
            </div>
        </div>
        <div class="form-row">
            <input type="file" accept="image/png, image/jpeg" id="image" name="image">
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>