<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body class="container">
    <header class="py-3 bg-light mx-5">
        <h1 class="h1 text-center font-italic">{{ content['title'] }}</h1>
    </header>
    <div class="card-deck mx-5 px-5 pb-5 bg-light">
        <div class="card text-center" >
            <img src="{{ url_for('static', filename='images/snack_card.jpg') }}" class="card-img-top"/>
            <div class="card-body">
                <h5 class="h5">{{ content['card_1']['title'] }}</h5>
                <p class="card-text">{{ content['card_1']['description'] }}</p>
                <a href="{{ url_for('snacks_list') }}" class="btn btn-primary">{{ content['card_1']['button'] }}</a>
            </div>
        </div>
        <div class="card text-center">
            <img src="{{ url_for('static', filename='images/inventory_card.jpg') }}" class="card-img-top"/>
            <div class="card-body">
                <h5 class="h5">Inventory</h5>
                <p class="card-text">Products stock listing</p>
                <a href="{{ url_for('snacks_list') }}" class="btn btn-primary">Inventory</a>
            </div>
        </div>
        <div class="card text-center">
            <img src="{{ url_for('static', filename='images/sales_card.jpg') }}" class="card-img-top"/>
            <div class="card-body">
                <h5 class="h5">Sales</h5>
                <p class="card-text">Our sales</p>
                <a href="{{ url_for('snacks_list') }}" class="btn btn-primary">Sales</a>
            </div>
        </div>
    </div>
    <footer class="bg-secondary text-white pl-5 py-3 mx-5">
        <address class="mb-0">
            <p class="mb-0 mb-n2"><small>Montaña #1131, Jardines de Tepa</small></p>
            <p class="mb-0 mb-n2">
                <a href="tel:378856582" class="text-decoration-none text-white"><small>{{ content['footer']['phone_label'] }} 3788856582</small></a>
            </p>
        </address>
        <p class="mb-0"><small>{{ content['footer']['schedule'] }}</small></p>
    </footer>
</body>
</html>