<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body class="container">
    <header>
        <h1 class="h1 text-center">Welcome to the homepage</h1>
    </header>
    <div class="card-deck">
        <div class="card" >
            <img src="{{ url_for('static', filename='images/default.png') }}" class="card-img-top"/>
            <div class="card-body">
                <h5 class="h2">Snacks</h5>
                <p class="card-text">Meet our snacks</p>
                <a href="{{ url_for('snacks_list') }}" class="btn btn-primary">Snacks</a>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/default.png') }}" class="card-img-top"/>
            <div class="card-body">
                <h5 class="h2">Inventory</h5>
                <p class="card-text">Products stock listing</p>
                <a href="{{ url_for('snacks_list') }}" class="btn btn-primary">Snacks</a>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/default.png') }}" class="card-img-top"/>
            <div class="card-body">
                <h5 class="h5">Sales</h5>
                <p class="card-text">Our sales</p>
                <a href="{{ url_for('snacks_list') }}" class="btn btn-primary">Snacks</a>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white">
        <p>Mini-botanas</p>
        <address>
            <p>Montaña #1131, Jardines de Tepa</p>
            <p>
                <a href="tel:3781111111">Phone: 3781111111</a>
            </p>
        </address>
        <p>Open from 5:00 pm to 9:00 pm</p>
    </footer>
</body>
</html>