<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body class="px-4">
    <h1 class="h1 pl-3 pb-2">Ventas</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Product</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Total price</th>
            </tr>
        </thead>
    </table>
</body>
</html>