<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <style>
            {{ styles|safe }}
        </style>
        <title>{{ snack_data['name'] }}</title>
    </head>
    <body class="">
        <div class="position-relative text-center mx-5 px-5" id="snack_banner" >
            <div class="col-5 p-5 mx-auto my-5">
                <h1 class="h1">{{ snack_data['name'] }}</h1>
            </div>
            <div class="col-5 p-5 mx-auto my-5">
                <p>{{ snack_data['description'] }}</p>
                <h3 class="h3">${{ snack_data['price'] }}</h3>
            </div> 
            <div class="col-5 p-5 mx-auto mt-5 bg-light">
                <h5 class="h5">Ingredients</h5>
                <ul class="text-left">
                    {% for ingredients in snack_data['ingredients'] %}
                        <li>{{ ingredients }}</li>
                    {% endfor %}
                </ul>
            </div>   
        </div>       
    </body>
</html>