<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ content['title'] }}</title>
    </head>
    <body>
        <h1>{{ content['title'] }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for snack in snack_list %}
                    <tr>
                        <td>{{ snack['name'] }}</td>
                        <td>{{ snack['price'] }}</td>
                        <td>{{ snack['description'] }}</td>
                        <td>{{ snack['image'] }}</td>
                        <td><img src="{{url_for('static', filename='images/' + snack['image'])}}" width="10"></td>
                        <td><a href="#">Edit</a><a href="#">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>