<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <title>{{ content['title'] }}</title>
    </head>
    <body>
        <h1>{{ content['title'] }}</h1>
        <p>
            <a href="{{ url_for('add_snacks') }}">+</a>
            <a href="{{ url_for('homepage') }}">Back to homepage</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for snack in snacks_list %}
                    <tr>
                        <td><img src="{{url_for('static', filename='images/' + snack['image'])}}" width="25"></td>
                        <td>{{ snack['name'] }}</td>
                        <td>{{ snack['price'] }}</td>
                        <td>{{ snack['description'] }}</td>
                        <td><a href="{{ url_for('snack_details', id=snack['_id'])|string }}"><img src="{{url_for('static', filename='icons/eye.svg')}}"></a></td>    
                        <td><a href="#">Edit</a></td>
                        <td><a href="#">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>